asgiref==3.6.0
beautifulsoup4==4.12.2
blog==1.0.1
cart==1.2.2
certifi==2023.5.7
charset-normalizer==3.1.0
crispy-bootstrap4==2022.1
data==0.4
decorator==5.1.1
Django==4.2.1
django-crispy-forms==2.0
django-tinymce==3.6.1
docopt==0.6.2
funcsigs==1.0.2
idna==3.4
Jinja2==3.1.2
Markdown==3.4.3
MarkupSafe==2.1.2
Pillow==9.5.0
pycryptodome==3.18.0
pyembed==1.3.3
pyembed-markdown==1.1.0
Pygments==2.15.1
pymdown-extensions==10.0.1
PyYAML==6.0
requests==2.30.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
stripe==5.4.0
tzdata==2023.3
urllib3==2.0.2
utils==1.0.1
