{% extends "base.html" %}

{% block "title" %}Gėlių asortimentas{% endblock %}

{% block "content" %}
<p>
    <stong>Pavadinimas:</stong>
    {{ product.name }}
</p>
<p>
    <stong>Kaina:</stong>
    {{ product.price }}€
</p>


{% load static %}
{% if product.photo %}
<div>
    <div>
        <form method="post" action="{% url 'cart' %}">
            {% csrf_token %}
            <button data-product="{{ product.id }}" data-action="add"
                    class="btn btn-outline-secondary add-btn update-cart">Add to Cart
            </button>
        </form>


        <p id="cart-total">{{cartItems}}</p>
        <img src="{{ product.photo.url }}" class="img-fluid" alt="..." width="600" height="600">
        {% else %}
        <img src="{% static 'img/no-image.png' %}" class="img-fluid" alt="..." width="600" height="600">
        {% endif %}
    </div>


    <p>{{ product.description | safe }}</p>
    {% endblock %}
