

{% extends "base.html" %}

{% block "title" %} Geles {% endblock %}

{% block "content" %}
{% load static %}

<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

	</script>

<head>
    <style>
.green-pagination .page-item {
    margin: 0.2rem;
}

.green-pagination .page-link {
    color: limegreen;
    border-color: limegreen;
    background-color: white;
    padding: 0.4rem 0.6rem;
}

.green-pagination .page-link:hover,
.green-pagination .page-link:focus {
    color: white;
    background-color: limegreen;
    border-color: limegreen;
}

.green-pagination .page-item.active .page-link {
    color: white;
    background-color: limegreen;
    border-color: limegreen;
}

    </style>

</head>
 <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Apsipirk su stiliumi</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Augalai suteiks jūsų namams bei sodui jaukumo</p>
                </div>
            </div>
        </header>
<h1></h1>

<br>
 <div class="row">
      {% for product in products %}
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm">
            {% if product.photoURL %}
              <img src="{{ product.photo.url }}" class="img-fluid" alt="..." width="1000" height="1000">
            {% else %}
              <img src="{% static 'img/no-image.png' %}" class="img-fluid" alt="..." width="1000" height="1000">
            {% endif %}
            <div class="card-body">
             <a href="{% url 'product' product.id %}" style="color: green;">{{ product.name }} </a>
              <p class="card-text">{{ product.price }}€ </a></p>
                <form method="post" action="{% url 'cart' %}">
  {% csrf_token %}
  <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
</form>

                <p id="cart-total">{{cartItems}}</p>

            </div>
          </div>
        </div>
      {% endfor %}
<div class="container puslapiai">
    <nav aria-label="...">
        {% if products.has_other_pages %}
            <ul class="pagination justify-content-center green-pagination">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
</div>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

    <style>
        .green-pagination .page-link {
            color: green;
        }

        .green-pagination .page-link:hover {
            color: dark green;
        }
{% endblock %}

