{% extends "base.html" %}

{% block "title" %}Gėlių asortimentas{% endblock %}

{% block "content" %}
<p><stong>Pavadinimas: </stong>{{ product.name }}</p>
<p><stong>Kaina: </stong>{{ product.price }}€</p>





{% load static %}
{% if product.photo %}
<div>
    <img src="{{ product.photo.url }}" class="img-fluid" alt="..." width="600" height="600">
    {% else %}
    <img src="{% static 'img/no-image.png' %}" class="img-fluid" alt="..." width="600" height="600">
    {% endif %}
</div>

<br>{% comment %}
<h1>{{ product.id }}</h1>
<ul>
    <li><strong>Augalo pavadinimas: </strong>{{ product.name }}</li>
    <li><strong>Kaina: </strong>{{ product.price }}</li>
{% endcomment %}
</ul>
<p>{{ product.description | safe }}</p>
{% endblock %}
